<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Discogs Visualizer</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <script type="text/javascript">
      $(document).ready(function() {
        initSellsGraph();
      });
    </script>
    <div class="container">
      <div class="loader"></div>
      <div id="highcharts-container"></div>
      <div id="summary"></div>
    </div>
  </body>
</html>
<script id="summary-template" type="text/x-handlebars-template">
  <div>
    <div>
      <a class="summary-link" href="https://www.discogs.com/de/seller/{{meta.username}}/profile" target="_blank">Profile Link</a>
    </div>
    <div>
      <label class="summary-label">First Order:</label>
      {{meta.firstOrderDate}}
    </div>
    <div>
      <label class="summary-label">Last Order:</label>
      {{meta.lastOrderDate}}
    </div>
    <div>
      <label class="summary-label">Total Orders:</label>
      {{meta.ordersTotal}}
    </div>
    <div>
      <label class="summary-label">Items Sold:</label>
      {{meta.itemsSold}}
    </div>
    <div>
      <label class="summary-label">Sent Orders:</label>
      {{meta.ordersSent}}
    </div>
    <div>
      <label class="summary-label">Cancelled Orders:</label>
      {{meta.ordersCancelled}}
    </div>
    <div>
      <label class="summary-label">Refunded Orders:</label>
      {{meta.ordersRefund}}
    </div>
    <div>
      <label class="summary-label">Total Amount:</label>
      {{meta.totalAmount}} &#8364;
    </div>
  </div>
</script>