body { font-family: Open Sans; }

a:link, a:visited, a:hover, a:active {
  color: #3498db;
  text-decoration: none;
}

.container {
  width: 100%;
  margin-bottom: 20px;
}

#highcharts-container {
  width: 100%;
}

#summary {
  margin: 0 20px;
  font-size: 20px;
  line-height: 26px;
}

a.summary-link,
label.summary-label {
  font-weight: 600;
  width: 175px;
  margin-right: 5px;
  text-align: right;
  display: inline-block;
}

.highcharts-subtitle {
  font-size: 14px !important;
  font-weight: 400;
}

.highcharts-tooltip {
  font-size: 12px !important;
  line-height: 1.5;
}

.item {
  display: table-row;
}

.item-head {
  font-weight: 700;
}

.item-head > span {
  border-bottom: 1px solid #000;
}

.item-price {
  display: table-cell;
  text-align: right;
  width: 60px;
  padding-right: 10px;
}

.item-release {
  display: table-cell;
  text-align: right;
  width: calc(100% - 120px);
}

.item-price-total {
  font-weight: 700;
}

.item-foot {
  border-top: 1px solid #000;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 25px auto 0;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}