html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Open Sans,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #3498db;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
