name: Auto-approve Dependabot pull requests targeting `main`

on:
  pull_request_target:
    branches:
      - main

permissions:
  # Needed for automatic approval
  pull-requests: write
  # Needed for automatic merge
  contents: write

jobs:
  dependabot_approve_and_merge:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}

    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v2.1.0
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_PRIVATE_KEY }}

      - name: Authenticate CLI
        run: echo "${{ steps.generate_token.outputs.token }}" | gh auth login --with-token

      - name: Approve Dependabot PR
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
        run: gh pr review "$PR_URL" --approve

      - name: Enable auto-merge for Dependabot PR
        run: gh pr merge "$PR_URL" --auto --merge --delete-branch
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
